.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* margin-top: 100px; */
}
.titleC {
  display: flex;
  justify-content: center;
  background-image: url("/contact-background.jpg");
  background-size: cover;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
  background-position: center;
  align-items: center;
  opacity: 90%;
  /* margin-bottom: 20px; */
}
.titleC::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.664);
}
.titleC h1 {
  position: relative;
  color: #ffffff;
  /* font-size: 14rem;
  line-height: 0.9; */
  text-align: center;
}
.titleC h3 {
  position: relative;
  width: 600px;
  color: #ffffff;
  /* font-size: 14rem;
  line-height: 0.9; */
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.socials img {
  cursor: pointer;
}
.contactC {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-image: url("/contact-back.svg");
  background-size: cover;
  /* margin-top: 20px; */
}
.contactCImage {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: column;
  position: relative;
}
.holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  gap: 20px;
}
.contactBgC {
  position: relative;
  width: 500px;
  height: 500px;
  /* position: absolute; */
  z-index: -1;
}
@media screen and (max-width: 1300px) {
  .contactC {
    flex-direction: column;
  }
  .titleC h1 {
    font-size: 27px;
  }
}
@media screen and (max-width: 530px) {
  .titleC h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 620px) {
  .contactCImage {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 480px) {
  .contactCImage {
    width: 300px;
    height: 300px;
  }
}
