.mainC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 100px;
  margin-top: 90px;
}
.titleC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.titleC h4 {
  width: 500px;
  text-align: center;
  color: #c1c1c1;
}
.iconHolder {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.holderC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 100px;
  flex-wrap: wrap;
}
.holderB {
  width: 100%;
}
.holder img {
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 100%;
  transition: 0.5s ease-in-out;
  text-align: center;
}
.holder:hover img {
  opacity: 70%;
}
.holder:hover h4 {
  opacity: 70%;
  color: #f8b62d;
}
.holder:hover p {
  opacity: 70%;
}
.infoC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30%;
}
.infoC p {
  transition: 0.5s ease-in-out;
}
.infoC h4 {
  transition: 0.5s ease-in-out;
}
.suppliersC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 770px) {
  .holder {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .infoC {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .holder img {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  .titleC h4 {
    width: 85%;
  }
}
