.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.mainContainer {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #fff;
  left: 50%;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.mainContainer img {
  object-fit: contain;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.close {
  position: absolute;
  color: #111111;
  z-index: 1;
  cursor: pointer;
  margin: 10px;
  top: 0;
  font-size: 30px;
  right: 0;
  transition: color 0.3s ease-in;
}
.close:hover {
  color: red;
}

.container {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.iconR {
  position: absolute;
  right: 50px;
  font-size: 30px;
  color: #111111;
  cursor: pointer;
  z-index: 1;
  top: 50%;
}
.iconL {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
  color: #111111;
  left: 50px;
  top: 50%;
}

@media screen and (max-width: 1200px) {
  .iconR {
    right: 20px;
  }
  .iconL {
    left: 20px;
  }
}

/* @media screen and (max-width: 416px) {
  .iconL {
    left: 0;
    font-size: 20px;
  }
  .iconR {
    right: 0;
    font-size: 20px;
  }
} */

/* @media screen and (max-width: 500px) {
  .mainContainer {
    width: 80%;
    height: 60%;
  }
} */
