.mainContainer {
  /* background-color: #3daaec; */
  /* background: rgb(255, 255, 255); */
  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(61, 170, 224, 1) 100%,
    rgba(61, 170, 224, 1) 100%
  ); */
  z-index: 99;
  position: relative;
  height: 120px;
  /* position: fixed; */
  display: flex;
  width: 100%;
  /* background-color: #000; */
  top: 0px;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
}
.logoHolder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  cursor: pointer;
  /* width: 130px; */
  color: #ffffff;
  height: 80px;
  /* object-fit: contain; */
  position: relative;
}
.logoHolder img {
  border-radius: 10px;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.navigationHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.navigationHolder li {
  cursor: pointer;
  transition: 0.5s;
  color: #ffffff;
  font-size: 18px;
}
/* .navigationHolder li:hover {
  color: #f8bf4e;
} */
.burger {
  display: none;
}
@media screen and (max-width: 750px) {
  .navigationHolder {
    display: none;
  }
  .burger {
    display: block;
  }
}
