.mainC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100px; */
  background-color: #000000;
  flex-direction: column;
  position: relative;
  color: #f8bf4e;
  padding: 40px;
  height: 360px;
  /* margin-top: 40px; */
  gap: 20px;
}
.linksContainer {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.innerC {
  height: 170px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.copyC {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.linksAndC {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.holderI {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.addressC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.addressHolder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
}
.iconHolder {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  gap: 20px;
}
.mapC {
  width: 400px;
  height: 300px;
  position: relative;
  position: absolute;
  top: 10px;
}
@media screen and (max-width: 1400px) {
  .mapC {
    position: relative;
  }
  .mainC {
    /* flex-direction: column; */
    height: auto;
    gap: 30px;
  }
  .linksAndC {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .addressC {
    width: 100%;
    text-align: left;
  }
  .addressHolder {
    width: 100%;
  }
  .iconHolder {
    justify-content: space-around;
  }
  .holderI {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
/* @media screen and (max-width: 860px) {
  .mapC {
    position: relative;
  }
  .mainC {
    flex-direction: column;
    height: auto;
  }
  .linksAndC {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .addressC {
    width: 100%;
    text-align: left;
  }
  .addressHolder {
    width: 100%;
  }
  .iconHolder {
    justify-content: space-around;
  }
  .holderI {
    flex-direction: column-reverse;
    gap: 40px;
  }
} */

@media screen and (max-width: 480px) {
  .mapC {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
